<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.age %></td>
        <td><%= artist.gender %></td>
        <td><%= artist.birth %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'インデックス作成', elastic_create_path(class_name: "Artist"), method: :post %>
  <%= link_to 'データ同期', elastic_import_path(class_name: "Artist"), method: :post %>
  <table>
    <thead>
    <tr>
      <th>インデックス</th>
      <th>エイリアス</th>
      <th colspan="2">操作</th>
    </tr>
    </thead>
    <tbody>
    <% @aliases.keys.each do |key| %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= @aliases[key]["aliases"].keys.join(',') %>
        </td>
        <td>
          <%= link_to 'エイリアス切り替え', elastic_switch_path(class_name: "Artist", index_name: key), method: :post %>
        </td>
        <td>
          <%= link_to 'インデックス削除', elastic_delete_path(class_name: "Artist", index_name: key), method: :post %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<table>
  <thead>
  <tr>
    <th>ActiveRecordカラム</th>
    <th>ESの型</th>
  </tr>
  </thead>
  <tbody>
    <% @mapping.keys.each do |key| %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= @mapping[key][:type] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>ドキュメントid</th>
      <th>スコア</th>
      <% Artist.mapping_list_keys.each do |key| %>
        <th>
          <%= key.to_s %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @indices.each do |index| %>
      <tr>
        <td>
          <%= index["_id"] %>
        </td>
        <td>
          <%= index["_score"] %>
        </td>
        <% Artist.mapping_list_keys.each do |key| %>
          <td>
            <%= index["_source"][key.to_s] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
