<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.age %></td>
        <td><%= artist.gender %></td>
        <td><%= artist.birth %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>ActiveRecordカラム</th>
    <th>ESの型</th>
  </tr>
  </thead>
  <tbody>
    <% @mapping.keys.each do |key| %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= @mapping[key]["type"] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>ドキュメントid</th>
      <th>スコア</th>
      <th colspan="<%= @indices.first["_source"].keys.size %>">属性値</th>
    </tr>
  </thead>
  <tbody>
    <% @indices.each do |index| %>
      <tr>
        <td>
          <%= index["_id"] %>
        </td>
        <td>
          <%= index["_score"] %>
        </td>
        <% index["_source"].keys.each do |key| %>
          <td>
            <%= index["_source"][key] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
